blinker==1.3
chardet==2.3.0
click==6.7
cloud-init==18.2
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
Flask==1.0.2
Flask-BasicAuth==0.2.0
hibagent==1.0.1
idna==2.0
itsdangerous==0.24
Jinja2==2.10
jsonpatch==1.10
jsonpointer==1.9
language-selector==0.1
MarkupSafe==1.0
oauthlib==1.0.3
prettytable==0.7.2
pyasn1==0.1.9
pycurl==7.43.0
pygobject==3.20.0
PyJWT==1.3.0
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-systemd==231
PyYAML==3.11
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
waitress==1.4.2
Werkzeug==0.14.1
